/********* Font includes ***********/
/* https://stackoverflow.com/questions/12144000/using-custom-fonts-using-css
@font-face {
    font-family: 'YourFontName'; //a name to be used later
    src: url('http://domain.com/fonts/font.ttf'); //URL to font
}

.classname {
    font-family: 'YourFontName';
}
*/

@font-face {
    font-family: 'NotoSans-Bold'; /*a name to be used later*/
    src: url('../fonts/NotoSans-Bold.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'NotoSans-Regular'; /*a name to be used later*/
    src: url('../fonts/NotoSans-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Overlock-Black';
    src: url('../fonts/Overlock-Black.ttf');
}

@font-face {
    font-family: 'Overlock-Bold';
    src: url('../fonts/Overlock-Bold.ttf');
}

@font-face {
    font-family: 'Rubik-Light';
    src: url('../fonts/Rubik-Light.ttf');
}

@font-face {
    font-family: 'Rubik-Medium';
    src: url('../fonts/Rubik-Medium.ttf');
}

@font-face {
    font-family: 'Rubik-Regular';
    src: url('../fonts/Rubik-Regular.ttf');
}

/********* Font includes ***********/
a {
  font-family: 'Rubik-Regular';
}

p {
  font-family: 'NotoSans-Regular';
}

h1 {
  font-family: 'Overlock-Black';
}

h2 {
  font-family: 'Overlock-Bold';
}

h3 {
  font-family: 'NotoSans-Regular';
}

h4 {
  font-family: 'Rubik-Light';
}

h5 {
  font-family: 'Rubik-Medium';
}
