/*******************************************************
 **************** From main-style.css ******************
 *******************************************************/

/********* Overall defines ***********/
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #F8F8F8;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: 'NotoSans-Regular';
}

ul {
  text-align: left;
  padding-bottom: 3rem;
}

li {
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.6rem;
}

li:nth-of-type(even) {
  background: white;
}

section {
  float: left;
  width: 100%;
}

.description {
  margin: 0 auto;
  width: 100%;
}
/* Add an active class to highlight the current page */
.active {
  color: #04A4FE !important;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }

  .toprightnav.responsive {
    position: absolute;
    right: 0px;
    top: 0px;
    padding-right:10px;
  }

  .toprightnav.responsive a.icon {
    position: absolute;
    right: 32px;
    top: 32px;
  }

  #responsive {
   padding-top: 75px;
   padding-right: 0px;
   text-align: left;
 }

  #res {
  text-align: left;
  padding-right: 0px;
  background-color: #F8F8F8;
  }

  .toprightnav a:not(:last-child) {
    display: none;
  }

  .toprightnav a.icon {
    float: right;
    display: inline-block;
  }

  li {
    font-size: 1.2rem;
  }

  img {
    margin-bottom: 10px;
  }
}

/*******************************************************
 ***************** From font-defs.css ******************
 *******************************************************/
/* https://stackoverflow.com/questions/12144000/using-custom-fonts-using-css
@font-face {
    font-family: 'YourFontName'; //a name to be used later
    src: url('http://domain.com/fonts/font.ttf'); //URL to font
}

.classname {
    font-family: 'YourFontName';
}
*/

@font-face {
    font-family: 'NotoSans-Bold'; /*a name to be used later*/
    src: url('../fonts/NotoSans-Bold.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'NotoSans-Regular'; /*a name to be used later*/
    src: url('../fonts/NotoSans-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Overlock-Black';
    src: url('../fonts/Overlock-Black.ttf');
}

@font-face {
    font-family: 'Overlock-Bold';
    src: url('../fonts/Overlock-Bold.ttf');
}

@font-face {
    font-family: 'Rubik-Light';
    src: url('../fonts/Rubik-Light.ttf');
}

@font-face {
    font-family: 'Rubik-Medium';
    src: url('../fonts/Rubik-Medium.ttf');
}

@font-face {
    font-family: 'Rubik-Regular';
    src: url('../fonts/Rubik-Regular.ttf');
}

a {
  font-family: 'Rubik-Regular';
}

p {
  font-family: 'NotoSans-Regular';
}

h1 {
  font-family: 'Overlock-Black';
}

h2 {
  font-family: 'Overlock-Bold';
}

h3 {
  font-family: 'NotoSans-Regular';
}

h4 {
  font-family: 'Rubik-Light';
}

h5 {
  font-family: 'Rubik-Medium';
}

/*******************************************************
 ************* From project/font-defs.css **************
 *******************************************************/

 .project-container h1 b {
   font-family: 'Overlock-Bold';
 }

 .project-container h2 {
   font-family: 'NotoSans-Regular';
 }

 /** https://stackoverflow.com/questions/3587897/best-way-to-change-font-colour-halfway-through-paragraph */
 .project-container h4 b {
   font-family: 'Overlock-Bold';
 }

 .project-container a b {
   font-family: 'NotoSans-Bold';
 }


 /*******************************************************
  ************** From about/font-defs.css ***************
  *******************************************************/

  .about-container p {
    font-family: 'NotoSans-Regular';
  }

  /** https://stackoverflow.com/questions/3587897/best-way-to-change-font-colour-halfway-through-paragraph */
  .about-container p b {
    font-family: 'NotoSans-Bold';
  }

  .about-container h1 {
    font-family: 'Overlock-Bold';
  }

  .about-container h2 {
    font-family: 'Overlock-Bold';
  }

/*******************************************************
 ******************** From nav.css *********************
 *******************************************************/
.logo {
  padding: 25px;
  width: 125px;
  max-width: 125px;
}

.toprightnav {
  float: right;
  overflow: hidden;
  font-family: Arial;
  padding: 32px;

}

/* Style the links inside the navigation bar */
.toprightnav a {
  float: left;
  display: block;
  color: #004E79;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2.0rem;
}

/* Change the color of links on hover */
.toprightnav a:hover {
  font-weight: bold;
}

/* Hide the link that should open and close the topnav on small screens*/
.toprightnav .icon {
  display: none;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .toprightnav.responsive a.icon {
    position: absolute;
    right: 32px;
    top: 32px;
  }

  .toprightnav.responsive a {
    float: none;
    display: grid;
    grid-template-rows: 4fr;
    text-align: left;
    z-index: 1;
  }

}

/*******************************************************
*************** From about/container.css ***************
 *******************************************************/

 .about-container p {
   font-size: 1.6rem;
   margin-bottom: 2.5rem;
   text-align: left;
   line-height: 150%;
 }

 .about-container h1 {
   font-size: 5.2rem;
   color: #004E79;
   margin-bottom: 1.5rem;
 }

 .about-container h2 {
   font-size: 3.6rem;
   color:#004E79;
   text-align: center;
   margin-bottom: 1.5rem;
   margin-top: 2.5rem;
 }

 .about-container hr {
   display: block; height: 1px;
   border: 0; border-top: 3px solid #04A4FE;
   margin: 0 auto; padding: 0;
   text-align: center;
   width: 25.4rem;
   margin-bottom: 0.8rem;
 }

 .about-container img {
   padding-top: 2rem;
   padding-bottom: 2rem;
 }

 .about-container section {
   float: left;
   margin: 0 auto;
   text-align: center;
 }

 .about-container {
   margin: 0 auto;
   width: 94%;
   overflow: hidden;
   padding-top: 6.4rem;
   align-content: center;
   padding-top: 1rem;
 }

 @media screen and (max-width: 600px) {
   .about-container p {
     font-size: 1.2rem;
     padding-left: 4rem;
     width: 32rem;
     line-height: 135%;
   }

   .about-container h1 {
     font-size: 2.8rem;
   }

   .about-container h2 {
     font-size: 2.0rem;
   }

   .about-container hr {
     width: 15rem;
   }
 }

 /*size of container for tablet*/
 @media screen and (min-width: 768px) {
   .about-container p {
     font-size: 1.6rem;
     padding-left: 8.5rem;
     width: 60.5rem;
   }

   .about-container {
     width: 70rem;
   }
 }

 /*size of container for desktop*/
 @media screen and (min-width: 1025px) {
   .about-container p {
     padding-left: 19.8rem;
     padding-top: 1.2rem;
     width: 80rem;
   }

   .about-container {
     width: 98rem;
   }
 }

 /*******************************************************
  *********************Contact Page ********************
  *******************************************************/

    .contact-container {
      margin: 0 auto;
      width: 25rem;
    }

    .contact-container p {
      line-height: 5rem;
    }

    .contact-container hr {
      height: 1px;
      margin: 0 auto;
      width: 96%;
      border: 0; border-top: 3px solid #04A4FE;
      margin-bottom: 3.5rem;
    }

    .contact-container a {
      color: #04A4FE;
    }

/* Contact icons below form */
    .contactc {
      grid-template-columns: repeat(3, 1rem);
      display: grid;
      grid-gap: 40px;
      justify-content: center;
      margin: 0 auto;
    }

    .required {
      font-family: 'Rubik-Light';
      font-size: 14px;
    }

    form {
      background: rgba(255, 255, 255, 0.7);
      padding: 50px 20px 30px 20px;
      margin-bottom: 30px;
      border-radius: 10px;
      border-bottom: solid 3px #27a4fe;
      border-top: solid 3px #27a4fe;
      width: 110%;
      display: block
    }

    input {
      margin-bottom: 2.8rem;
      border: solid 1px #04A4FE;
      padding: 8px;
      width: 100%;
    }

    textarea {
      margin-bottom: 2.5rem;
      border-color: #04A4FE;
      width: 100%;
    }

    #submit_button {
      background-color: #004E79;
      color: white;
      text-decoration: none;
      border: none;
      padding: 15px 32px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      width: 100%;
      border-radius: 25px;
    }

 /*******************************************************
  ***************** From container.css ******************
  *******************************************************/
  p {
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
    text-align: left;
    line-height: 150%;
  }

  h1 {
    color: #004E79;
    font-size: 5.2rem;
    margin-bottom: 1.0rem;
  }

  h2 {
    color:#004E79;
    font-size: 3.6rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  h3 {
    color: #004E79;
    font-size: 3.4rem;
    line-height: 125%;
    margin-bottom: 6.0rem;
  }

  h4 {
    font-size: 4.0rem;
    color: #04A4FE;
    margin-bottom: 1.0rem;
  }

  h5 {
    font-size: 2.4rem;
    margin-top: 1.5rem;
    margin-bottom: 1.0rem;
    text-align: left;
  }

  hr {
    display: block; height: 1px;
    border: 0; border-top: 3px solid #04A4FE;
    margin: 0 auto; padding: 0;
    text-align: center;
    width: 25.4rem;
    margin-bottom: 3.0rem;
  }

  section {
    float: left;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  section a img:hover {
    opacity: 0.5;
    box-shadow: 10px 10px 5px grey;
    transform: translateY(-10px) scale(1.1);
  }

  a:hover {
    opacity: 0.5;
  }

  .container {
    margin: 0 auto;
    width: 94%;
    overflow: hidden;
    padding-top: 6.4rem;
  }

  .hero {
    width: 100%;
  }

  .bigger {
    height: auto;
  }

  @media screen and (max-width: 767px) {
    p {
      font-size: 1.2rem;
    }

    h1 {
      color: #004E79;
      font-size: 2.8rem;
    }

    h2 {
      text-align: center;
      color:#004E79;
      font-size: 2.0rem;
    }

    h3 {
      color: #004E79;
      font-size: 1.8rem;
    }

    h4 {
      font-size: 2rem;
      color: #04A4FE;
    }

    h5 {
      font-size: 1.6rem;
    }

    hr {
      width: 15.0rem;
    }

    .bigger {
      width: 38rem;
    }

    .big {
    display: none;
    }
  }

  /*size of container for tablet*/
  @media screen and (min-width: 768px) {
    .container {
      width: 70%;
    }
    .bigger {
      width: 50.0rem;
    }
    h3 {
      padding-bottom: 20.0rem;
    }
    .description {
      margin: 0 auto;
      width: 500px;
    }
    .big {
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
    }
  }

  /*size of container for desktop*/
  @media screen and (min-width: 1025px) {
    .container {
      width: 80%;
    }

    h3 {
      padding-bottom: 20.0rem;
    }

    .description {
      margin: 0 auto;
      width: 500px;
    }

    .big {
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
    }
  }


/*******************************************************
 ************* From project/container.css **************
 *******************************************************/
.project-container p {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: left;
  padding-left: 0;
}

.project-container h1 {
  font-size: 4.8rem;
  color: #004E79;
  margin-bottom: 1.0rem;
  text-align: center;
}

.project-container h2 {
  font-size: 3.0rem;
  margin-bottom: 1.5rem;
  text-align: left;
  line-height: 125%;
}

.project-container h3 {
  font-size: 2.4rem;
  margin-bottom: 3.0rem;
  text-align: left;
}

.project-container h3 em {
  font-size:2.8rem;
}

.project-container h4 {
  font-size: 3.6rem;
  color: #004E79;
  margin-bottom: 1.0rem;
  margin-top: 1.5rem;
  text-align: center;
}

.project-container h5 {
  font-size: 2.4rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: left;
  padding-left: 0;
  color: #007CC1;
}

.project-container hr {
  display: block; height: 1px;
  border: 0; border-top: 3px solid #04A4FE;
  margin: 0 auto; padding: 0;
  text-align: center;
  width: 25.4rem;
  margin-bottom: 1.5rem;
}

.project-container section {
  float: left;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 3.0rem;
}

.project-container {
  margin: 0 auto;
  width: 94%;
  overflow: hidden;
  padding-top: 6.4rem;
}

.project-container a {
  text-decoration: none;
  font-family: 'Rubik-Light';
  color: #04A4FE;
}

a.dest {
  font-family: 'Rubik-Medium';
  color: #007CC1;
}

.takeaway {
  background: #E1E1E1;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: -10px;
  box-shadow: 10px 10px 5px grey;
  margin-bottom: 5.0rem;
}

#overview {
  padding-bottom: 0.1rem;
  padding-top: 2.8rem;
  margin-top: 3.0rem;
}

strong {
  font-weight: bold !important;
}

.button {
  background-color: #004E79;
  color: white !important;
  text-decoration: none;
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 4rem;
  border-radius: 25px;
}

.buttonp {
  background-color: #004E79;
  color: white !important;
  text-decoration: none;
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 4rem;
  border-radius: 25px;
  float: left;
}

.buttonf {
  background-color: #04A4FE;
  color: white !important;
  text-decoration: none;
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}

.comp {
  height: 500px;
}


#top {
  vertical-align: top;
}

@media screen and (max-width: 600px) {
  .project-container a {
    font-size: 1.2rem;
  }

  .project-container p {
    padding-top: 1rem;
    font-size: 1.2rem;
    line-height: 125%
  }

  .project-container h1 {
    color: #004E79;
    font-size: 2.8rem;
  }

  .project-container h2 {
    font-size: 1.4rem;
  }

  .project-container h3 {
    color: #04A4FE;
    font-size: 1.2rem;
  }

  .project-container h3 em {
    font-size: 1.4rem;
  }

  .project-container h4 {
    font-size: 2.0rem;
    color: #004E79;
  }

  .project-container h5 {
    font-size: 1.6rem;
  }

  .project-container hr {
    width: 15.0rem;
  }

  .project-container .bigger {
    width: 100%;
  }

  .project-container .sidebyside {
    width: 100%;
  }

  .comp {
    width: 100%;
    height: auto;
  }
}

/*size of container for tablet*/
@media screen and (min-width: 768px) {
  .project-container  {
    width: 70rem;
  }

  .project-container h3 {
    padding-bottom: 0rem;
    color: #04A4FE;
    font-family: 'Rubik-Light';
  }

  .project-container p {
    line-height: 150%;
    padding-bottom: 1.5rem;
  }

  .comp {
    display: grid;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .comp p {
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    font-size: 1.4rem;
    color: #007CC1;
  }

  .comp ul {
    padding-left: 10px;
  }

  .comp li {
    font-size: 1.2rem;
    padding: 10px 5px 5px 10px;
  }
}

/*size of container for desktop*/
@media screen and (min-width: 1025px) {
  .project-container {
    width: 84rem;
  }

  .project-container .bigger {
    width:100%;
  }

  .project-container .sidebyside {
    width:49%;
    padding-bottom: 1rem;
  }

  .comp {
    display: grid;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .project-container img {
    padding-bottom: 1rem;
  }
}

/*******************************************************
 ****************** From footer.css ********************
 *******************************************************/

.footer {
  background-color: #04A4FE;
  color: #FFFFFF;
  text-align: center;
  display:grid;
  position: absolute;
  width: 100%;
  margin-top: 100px;
  padding: 2rem 0;
}

.footer p {
  font-size: 1.8rem;
  margin-top: 1.5rem;
  margin-bottom: 1.3rem;
  text-align: center;
  padding-left: 0;
  width: auto;
}

.footer a {
  text-decoration: none;
  display: inline-block;
}

.footer hr {
  border-top: 3px solid #FFFFFF80;
  margin-bottom: 1.5rem;
  width: 21.0rem;
}

.footer i {
  color: #FFFFFF;
}

.contact {
  grid-template-columns: repeat(4, 1rem);
  display: grid;
  grid-gap: 40px;
  justify-content: center;
  margin-bottom: 1.0rem;
}

@media screen and (max-width: 600px) {
  .contact {
    grid-gap: 43px;
  }

  .footer {
    margin-top: 50px;
  }

  .footer p {
    font-size: 1.4rem;
    margin-bottom: 1.3rem;
  }
}
